body{
  background-color: rgb(232, 144, 210);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.imagen_logo{
  width: 100px;
  padding: 10px 0;
  border-radius: 1500px;
}

.logo_instagram{
  width: 20px;
  margin: 10px 5px;

}
.logo_facebook{
  width: 20px;
  margin: 10px 5px;

}
.logo_whatsapp{
  width: 20px;
  margin: 10px 5px;

}
.imagen_de_main{
  width: 150px;
  margin: 10px 5px;
  
}
.video_container{
  position: relative;

  padding-top: 10px;
  height: 0;
  overflow: hidden;
}
.video_container iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: auto;
  
}

footer{
  background-color: aliceblue;
  padding: 100px 0;
  text-align: center;
}
footer.imagen_logo_footer{
  width: 200px;
  margin-bottom: 20px;
}

.cabecera-contacto{
  padding: 150px 0 100px 0;
  background-image: url(../assets/img/poplinrosa-azul.jpg);
  background-position: center center;
  background-size: cover;

}
.cabecera-contacto h1{
  color: aliceblue;
}
